<script language="javascript">
$(function()
{
  var d = $("#window0").dialog({draggable: false, title: "one", resizable: false, heighth: "250px", width: "468px", position: [30, 15], closeOnEscape: false, zIndex: 1});
  var e = $("#window1").dialog({draggable: false, title: "two", resizable: false, heighth: "250px", width: "468px", position: [520, 15], closeOnEscape: false, zIndex: 1});

$('.boundary_panel').append(d.parent());
$('.boundary_panel').append(e.parent());

$
});
</script>
<div class="outer_div">
  <div id='my_boundary_panel' class="boundary_panel" ></div>
</div>
<div id="window0" class="window"><iframe width="450" height="250" style="border: 1px solid #cccccc;" src="https://api.thingspeak.com/channels/3/charts/1?round=2&timescale=60"></iframe></div>
<div id="window1" class="window" ><iframe width="450" height="250" style="border: 1px solid #cccccc;" src="https://api.thingspeak.com/channels/3/charts/1?round=2&timescale=60"></iframe></div>
