<div id="content" >
  <div id="droppable1" class="droppable" > 
</div> 
  <div id="droppable2" class="droppable"> </div>
  <div id="droppable3" class="droppable"> </div>
  <div id="droppable4" class="droppable"> </div>

  <div id="draggable1" class="draggable" > <iframe width="455" height="260" frameborder="0" scrolling="no" style="border: 1px solid #cccccc; float: right;" src="https://thingspeak.com/channels/1687/maps/channel_show?width=455&height=260"></iframe> </div>
  <div id="draggable2" class="draggable" > <iframe width="455" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1687/charts/1?timescale=60&amp;xaxis=Time&amp;width=455&amp;height=260"></iframe>
      <br /><br />
      Chart Embed Code:
      <br />
      <textarea id="embed-code" rows="4" cols="54">&lt;iframe width="455" height="260" style="border: 1px solid #cccccc;" src="http://api.thingspeak.com/channels/1687/charts/1?timescale=60&amp;width=455&amp;height=260">&lt;/iframe></textarea>
          </div>
  <div id="draggable3" class="draggable" > <iframe class="youtube-player" type="text/html" width="455" height="260" src="https://www.youtube.com/embed/Miacs0FFbxQ" frameborder="0">
</div>
</div>
