<h1>Windows#index</h1>

<script language="javascript" >
$(function() {
$("#my_boundary_panel").window({
   icon: 'http://mail.google.com/favicon.ico',
   title: "<%= 'This is a test' %>",
   content: '<iframe width="450" height="250" style="border: 1px solid #cccccc;" src="https://api.thingspeak.com/channels/3/charts/1?round=2&timescale=60"></iframe>',
   checkBoundary: true,
   width: 460,
   height: 320,
   x: 0,
   y: 0
});

$("#my_boundary_panel").window({
   icon: 'http://mail.google.com/favicon.ico',
   title: "This window only can be dragged within its parent element",
   content: '<iframe width="450" height="250" style="border: 1px solid #cccccc;" src="https://api.thingspeak.com/channels/3/charts/1?round=2&timescale=60"></iframe>',
   checkBoundary: true,
   width: 460,
   height: 320,
   x: 470,
   y: 0
});




});

</script>
<div>
  <div id='my_boundary_panel' class="boundary_panel" ></div>
  
</div>



    

